#root{
    font-family: 'Lato',sans-serif;
}
// .App{
//     height: auto;
// }
#ListBooks{
    width: 1280px;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgb(203, 219, 219);
    box-shadow: 3px 3px 3px 1px;
    .Books{
        grid-column: 3/9;
        display: grid;
        grid-template-rows: repeat(15, 1fr);    
        margin-left: 15%;
        margin-right: 15%;
        height: auto;

        .top{
            grid-row: 1/3;
            display: grid;
            grid-template-rows: repeat(3,1fr);
            margin-left: -10%;
            margin-right: -10%;
            .up{
                margin-top: 5%;
                grid-row: 1/2;
                display: flex;
                .modal{
                    button{
                        border: 0px solid;
                    }
                    form{
                        margin: 0% 1% 3% 1%;
                        .primary{
                            margin: 0% 5% 3% 5%;
                            input{
                                margin-bottom: 1%;
                                border: 2px solid rgb(66, 123, 170);
                            }
                        }
                        .details{
                            margin: 0% 5% 2% 5%;
                            input{
                                margin-bottom: 1%;
                                border: 2px solid rgb(110, 126, 141);
                            }
                        }
                        .description{
                            margin: 0% 5% 3% 5%;
                            border: 2px solid gray;

                        }
                        footer{
                            margin: 0% 5% 3% 5%;
                        }
                       
                    }
                }
                button{
                    margin-right: 2%;
                    border: 2px solid;
                }
                input{
                    margin-right: 10%;
                    border: 2px solid rgb(226, 22, 22);
                }
            }
            .down{
                grid-row: 2/4;
                margin-left: 10%;
                margin-right: 0%;
                display: grid;
                justify-content: center;
                align-content: center;
                grid-template-columns: repeat(5,1fr);
                form{
                    grid-column: 1/4;
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    .check{
                        
                        label{
                            margin-left: 5%;
                            margin-right: 5%;
                            }
                        }
                }
                .sort-filters{
                    grid-column: 4/6;
                    margin-left: 20%;
                    display: flex;
                    flex-direction: column;
                    button{
                        border: 1px solid;
                    }
                }
            }

        }
        .center{
            grid-row: 3/15;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

        }
        .footer{
            grid-row: 15/16;
            background-color: rgb(203, 219, 219);
            padding: 5% 0% 3% 0%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    } 
}

@media all and (max-width: 375px){
        #ListBooks{
        width: 375px;
        grid-template-columns: repeat(1);
        grid-template-rows: repeat(2);
        .Books{
            margin: 0% 0% 0% 0%;
            grid-row: 2/3;
            grid-column: 1;
            width: 375px;
            .center{
                width: 375px;
            }
            .footer{
                margin: 0% 5% 0% 5%;
            }
        }
       
    }
}

@media (max-width: 640px) and (min-width: 375px){
        #ListBooks{
        width: auto;
    }
}

@media (max-width: 1280px) and (min-width: 640px){
        #ListBooks{
        width: auto;
    }
}