#TopFive{
    width: 1280px;
    max-height:3600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgb(203, 219, 219);
    box-shadow: 3px 3px 3px 1px;
    .Menu{
        max-height:3500px;
    }
    .top{
        max-height:3400px;
        grid-column: 3/9;
        display: grid;
        grid-template-rows: repeat(15, 1fr);
        margin-top: 7%;
    }
}

@media all and (max-width: 414px){
    #root{
        min-height:1410px;
        max-height:3600px;
        #TopFive{
            width: 414px;
            min-height:3600px;
            grid-template-columns: repeat(1,1fr);
            .top{
                grid-column: 1/2;
                min-height: 3000px;
            }
            .Menu{
                height: 540px;
            }
        }
       
    }
}

@media (max-width: 640px) and (min-width: 414px){
    #root{
        max-height:2900px;
        #TopFive{
            width: auto;
            max-height:2900px;
            .top{
                max-height:2800px;
            }
        }
        .Menu{
            max-height:2900px;
        }
    } 
}

@media (max-width: 1280px) and (min-width: 640px){
    #root{
        max-height:3800px;
        #TopFive{
            width: auto;
            max-height:3400px;
            .top{
                max-height:3300px;
            }
        }
        .Menu{
            max-height:3700px;
        }
    }
}