#DetailsBook{
    width: 1280px;
    min-height: 100vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    background-color: rgb(203, 219, 219);
    box-shadow: 3px 3px 3px 1px;
    .Book{
        grid-column: 3/9;
        margin: 8%;
        .notification{
            display: grid;
            grid-template-rows: repeat(9,13vh);
            .header{
                grid-row: 1/2;
                margin-top: -3%;
                button{
                    border: 2px solid;
                }
                p{
                    margin-top: 2%;
                }
                .modal{
                    button{
                        border: 0px solid;
                    }
                    form{
                        margin: 0% 1% 3% 1%;
                        .primary{
                            margin: 0% 5% 3% 5%;
                            input{
                                margin-bottom: 1%;
                                border: 2px solid rgb(66, 123, 170);
                            }
                        }
                        .details{
                            margin: 0% 5% 2% 5%;
                            input{
                                margin-bottom: 1%;
                                border: 2px solid rgb(110, 126, 141);
                            }
                        }
                        .description{
                            margin: 0% 5% 3% 5%;
                            border: 2px solid gray;

                        }
                        footer{
                            margin: 0% 5% 3% 5%;
                        }
                       
                    }
                }
                
            }
            .center{
                grid-row: 2/5;
                display: grid;
                grid-template-columns: repeat(2,1fr);
                .image{
                    grid-column: 1/2;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .stars {
                        margin-top: 6%;
                        margin-right: 0%;
                        // direction: rtl;
                        // display: flex;
                        // flex-direction: row;
                        .rating{
                            display: flex;
                            flex-direction: row;
                            .yes{
                                direction: ltr;  
                                display: flex;
                                flex-direction: row;
                                .checked{
                                    color: gold;
                                    display: flex;
                                    flex-direction: row-reverse;
                                }
                                .checked:hover{
                                    color: gold;
                                }
                                .checked:hover ~ span{
                                    color: rgb(189, 189, 189);
                                }
                            }
                            .no{
                                direction: rtl;  
                                span:hover {
                                    color: gold;
                                    transform: scale(1.1);
                                }
                                span{
                                    font-size: auto;
                                    color: rgb(189, 189, 189);
                                    text-decoration: none;
                                    transition: all 0.5s;
                                    margin: 4px;
                                }
                                .s:hover ~ span {
                                    color: gold;

                                }
                            }
                        }
                        // span:hover {
                        //     color: gold;
                        //     transform: scale(1.1);
                        // }
                        // span{
                        //     font-size: auto;
                        //     color: rgb(189, 189, 189);
                        //     text-decoration: none;
                        //     transition: all 0.5s;
                        //     margin: 4px;
                        // }
                        // .s:hover ~ span {
                        //     color: gold;

                        // }
                       
                        // .checked{
                        //     color: gold;
                        //     display: flex;
                        //     flex-direction: row-reverse;
                        // }
                        // .checked:hover{
                        //     color: gold;
                        // }
                        //  .checked:hover ~ span{
                        //       color: rgb(189, 189, 189);
                        // }
                       
                    }
                   
                    img:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                        box-shadow: 3px 3px 3px 3px;
                        position: relative;
                        border-radius: 5px;
                        padding: 5px;
                    }
                    img{
                        max-width:200px;
                        max-height:300px;
                        box-shadow: 3px 3px 3px 3px;
                    }
                }
                .content{
                    grid-column: 2/3;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0% 0% 20% 25% ;
                    p{
                        margin-top: 1%;
                        margin-bottom: 2%;
                    }
                }
            }
            .description{
                grid-row: 5/10;
            }
        }
    }
}

@media all and (max-width: 375px){
        #DetailsBook{
        width: 375px;
        grid-template-columns: repeat(1);
        grid-template-rows: repeat(2);
       
       
    }
}

@media (max-width: 640px) and (min-width: 375px){
        #DetailsBook{
        width: auto;
    }
}

@media (max-width: 1280px) and (min-width: 640px){
        #DetailsBook{
        width: auto;
    }
}