#root {
  font-family: 'Lato',sans-serif;
}

#Book {
  margin: 1%;
  margin-bottom: 3%;
}

#Book .notification a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5%;
}

#Book .notification button {
  border: none;
  font-size: 200%;
  margin-left: 90%;
}

#Book .notification .all {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#Book .notification .all .image {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin-top: 10%;
  margin-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Book .notification .all .image .stars {
  margin-top: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  direction: rtl;
}

#Book .notification .all .image .stars span {
  font-size: auto;
  color: #bdbdbd;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 4px;
  pointer-events: none;
}

#Book .notification .all .image .stars .s {
  color: gold;
}

#Book .notification .all .image img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 3px 3px 3px 3px;
          box-shadow: 3px 3px 3px 3px;
  position: relative;
  border-radius: 5px;
  padding: 5px;
}

#Book .notification .all .image img {
  max-width: 200px;
  max-height: 300px;
  -webkit-box-shadow: 3px 3px 3px 3px;
          box-shadow: 3px 3px 3px 3px;
}

#Book .notification .all .content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 5%;
}

@media all and (max-width: 414px) {
  #Book {
    width: 414px;
  }
  #Book .notification {
    padding: 1%;
  }
  #Book .notification .content {
    margin-left: 20%;
  }
  #Book .notification .all .image {
    margin: 0%;
  }
  #Book .notification .all .image img {
    max-width: 200px;
    max-height: 240px;
    -webkit-box-shadow: 3px 3px 3px 3px;
            box-shadow: 3px 3px 3px 3px;
  }
}

@media (max-width: 640px) and (min-width: 414px) {
  #Book {
    width: auto;
  }
  #Book .notification {
    padding: 0%;
  }
  #Book .notification .all .content p {
    margin: 7%;
  }
  #Book .notification .all .content u {
    margin: 2%;
  }
}

@media (max-width: 1280px) and (min-width: 640px) {
  #Book {
    width: auto;
  }
  #Book .notification {
    padding: 0%;
  }
  #Book .notification .all .content p {
    margin: 7%;
  }
  #Book .notification .all .content u {
    margin: 2%;
  }
}
/*# sourceMappingURL=book.css.map */