#Book{
    margin: 1%;
    margin-bottom: 3%;
    .notification{
        a{
            text-decoration: none;
        }
        .all{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            .image{
                    grid-column: 1/2;
                    grid-row: 1/2;
                    margin-top: 10%;
                    .stars {
                        margin-top: 8%;
                        margin-right: 37%;
                        direction: rtl;  
                        span{
                            font-size: auto;
                            color: rgb(189, 189, 189);
                            text-decoration: none;
                            transition: all 0.5s;
                            margin: 4px;
                            pointer-events: none;

                        }
                        .s {
                            color: gold;
                        }
                       
                    }
                
                    img:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                        box-shadow: 3px 3px 3px 3px;
                        position: relative;
                        border-radius: 5px;
                        padding: 5px;
                    }
                    img{
                        // min-height: 128px;
                        // min-width: 128px;
                        max-width:200px;
                        max-height:300px;
                        box-shadow: 3px 3px 3px 3px;
                    }
                }      
            .content{
                    grid-column: 2/3;
                    grid-row: 1/2;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 15%;
                }
        }
    }   
}


@media all and (max-width: 375px){
        #Book{
        width: 375px;
        .notification{
            padding: 1%;
            .content{
            margin-left: 20%;
            }
        }
    }
}

@media (max-width: 640px) and (min-width: 375px){
       #Book{
        width: auto;
        .notification{
            padding: 1%;
            .content{
            margin-left: 20%;
            }
        }
       
    }
}

@media (max-width: 1280px) and (min-width: 640px){
        #Book{
        width: auto;
    }
}